/* Defining custom fonts */

@font-face 
{
    font-family: 'Raleway';
    src: url('polices/Raleway-Italic-VariableFont_wght.ttf');
    src: url('polices/Raleway-VariableFont_wght.ttf');
    font-weight: normal;
    font-style: normal;
}

/* Desktop common */

body
{
    font-family: 'Raleway', Arial, Helvetica, sans-serif;
    width: 100%;
    max-width: 1700px;
    margin: auto;
    font-size: 16px;
}

.flex
{
    display: flex;
}

a
{
    color: #000000;
    text-decoration: none;
}

/* Header */

    /* Banner */

.banner
{
    flex-direction: row;
    width: 100%;
    margin-top: 4%;
}

.logo
{
    width: 120px;
    position: relative;
    bottom: 25px;
}

.menu
{
    width: 50%;
    margin-left: 40%;
    text-align: right;
}

.menu-link
{
    padding: 0 50px 0 50px;
}

.menu-sign
{
    padding-left: 50px;
    font-weight: bold;
    color: #0065FC;
}

.menu-link:hover
{
    border-top: 3px solid #0065FC;
    padding-top: 65px;
    color: #0065FC;
}

    /* Explore */

.search
{
    margin: 30px 0;
}

.search-icon, .search-field, .search-button
{
    font-family: 'Raleway', Arial, Helvetica, sans-serif;
    font-size: 16px;
    font-weight: bold;
    height: 45px;
}

.search-icon
{
    width: 45px;
    border: 3px solid transparent;
    border-radius: 15px 0 0 15px;
}

.search-field
{
    width: 220px;
    padding-left: 10px;
    border: 1px solid #F2F2F2;
}

.search-button
{
    width: 130px;
    color: #FFFFFF;
    background-color: #0065FC;
    border: 3px solid transparent;
    border-radius: 0 15px 15px 0;
}

    /* Filters */

label, .filters-button
{
    font-size: 16px;
    font-weight: bold;
    margin-right: 40px;
}

label
{
    padding-top: 11px;
}

.filters-button
{
    font-family: 'Raleway', Arial, Helvetica, sans-serif;
    height: 45px;
    padding: 0 20px 0 50px;
    background-color: #FFFFFF;
    border: 3px solid #F2F2F2;
    border-radius: 20px;
}

.filters-button:hover
{
    color: #FFFFFF;
    background-color: #DEEBFF;
}

.filters .fas
{
    color: #0065FC;
    background-color: #DEEBFF;
    font-size: 16px;
    position: absolute;
    padding: 14px 14px;
    border-radius: 100%;
}

    /* Information */

.information
{
    margin: 20px 0;
}

.information .fas
{
    font-size: 12px;
    color: #0065FC;
    border: 2px solid #F2F2F2;
    border-radius: 20px;
    padding: 6px 10px;
    margin: 10px 15px 0 0;
}

/* Main */

#lodging
{
    justify-content: space-between;
}

.lodge-box1, .lodge-box2
{
    height: 650px;
    background-color: #F2F2F2;
    border-radius: 20px;
}

.lodge-box1
{
    width: 920px;
    flex-direction: column;
    justify-content: flex-start;
}