/* Defining custom fonts */

@font-face 
{
    font-family: 'Raleway';
    src: url('polices/Raleway-Italic-VariableFont_wght.ttf');
    src: url('polices/Raleway-VariableFont_wght.ttf');
    font-weight: normal;
    font-style: normal;
}

/* Desktop common */

@media screen and (min-device-width: 430px)
{
    .search-button2
    {   
       display: none;
    }

    .lodge-box1, .lodge-box2
    {
    background-color: #F2F2F2;
    border-radius: 20px;
    }
}

body
{
    font-family: 'Raleway', Arial, Helvetica, sans-serif;
    width: 100%;
    max-width: 1440px;
    margin: auto;
    font-size: 16px;
}

.flex
{
    display: flex;
}

.center
{
    width: 100%;
    max-width: 1340px;
    margin: auto;
}

.title
{
    font-weight: bold;
    font-size: 16px;
}

a
{
    color: #000000;
    text-decoration: none;
}

.fa-star
{
    color: #0065FC;
}

.empty
{
    color: #F2F2F2;
}

/* Header */

header
{
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

    /* Banner */

.banner
{
    height: 32.5%;
    justify-content: space-between;
    align-items: center;
}

.logo
{
    width: 120px;
}

.menu
{
    margin-left: 56%;
}

.menu-link
{
    padding: 0 35px 0 35px;
}

.menu-link:hover
{
    border-top: 4px solid #0065FC;
    padding-top: 55px;
    color: #0065FC;
}

.sign-in
{
    font-weight: bold;
    color: #0065FC;
}

    /* Explore */

#explore
{
    height: 65%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.explore-h1
{
    height: 13%;
}

.explore-h1 h1
{
    font-size: 22px;
    margin: 0;
}

.explore-p
{
    height: 15%;
}

.explore-p p
{
    margin: 0;
}

    /* Search */

.search
{
    height: 20%;
}

.search form
{
    display: flex;
    flex-direction: row;
    width: 100%;
}

.search-icon, .search-field, .search-button1
{
    font-family: 'Raleway', Arial, Helvetica, sans-serif;
    font-size: 17px;
    font-weight: bold;
}

.search-icon
{
    border: 1px solid #F2F2F2;
    width: 4%;
    border-radius: 15px 0 0 15px;
}

.search-field
{
    border: 1px solid #F2F2F2;
    width: 17%;
    padding-left: 1%;
}

.search-button1
{
    border: 1px solid #0065FC;
    width: 9%;
    color: #FFFFFF;
    background-color: #0065FC;
    border-radius: 0 15px 15px 0;
}

    /* Filters */

.filters
{
    margin-top: 23px;
    height: 17.5%;
}

label, .filters-button
{
    font-size: 18px;
    font-weight: bold;
}

.label
{
    width: 4.5%;
    padding-top: 0.80%;
}

.filters-box
{
    width: 100%;
}

.filters-box form
{
    width: 100%;
    display: flex;
    flex-direction: row;
}

.button1, .button2, .button3, .button4
{
    margin-left: 4%;
}

.filters-button
{
    font-family: 'Raleway', Arial, Helvetica, sans-serif;
    height: 100%;
    background-color: #FFFFFF;
    border: 3px solid #F2F2F2;
    border-radius: 20px;
    padding: 0 15px 0 45px;
}

.filters-button:hover
{
    color: #FFFFFF;
    background-color: #DEEBFF;
}

.filters .fas
{
    color: #0065FC;
    background-color: #DEEBFF;
    font-size: 16px;
    padding: 14px 12px;
    border-radius: 20px;
    position: absolute;
}

    /* Information */

.information
{
    margin-top: 20px;
    height: 15%;
    align-items: center;
}

.information .fas
{
    font-size: 12px;
    color: #0065FC;
    border: 2px solid #F2F2F2;
    border-radius: 20px;
    padding: 6px 10px;
    margin-right: 15px;
}

/* Main */

#lodging
{
    height: 600px;
    justify-content: space-between;
    margin-top: 50px;
}

.lodge-box1
{
    display: flex;
    flex-direction: column;
    width: 65%;
    padding-top: 4%;
}

.lodge-box2
{
    display: flex;
    flex-direction: column;
    width: 30%;
    padding-top: 4%;
}

    /* Section */

.lodge-box1 h2
{
    margin: 0;
    margin-left: 4%;
}

.lodge-container1
{
    width: 92%;
    height: 70%;
    margin-left: 4%;
    margin-top: 3%;
    justify-content: space-between;
    align-content: space-between;
    flex-wrap: wrap;
}

.lodge-img1
{
    display: flex;
    flex-direction: column;
    margin: 0;
    border: 4px solid #FFFFFF;
    width: 240px;
    height: 175px;
    border-radius: 20px;
    background-color: #FFFFFF;
    box-shadow: 4px 4px 4px #F2F2F2;
}

.lodge-img1 img
{
    width: 240px;
    height: 90px;
    border-radius: 20px 20px 0 0;
    object-fit: cover;
}

.lodge-img1 figcaption
{
    height: 85px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    border-radius: 0 0 20px 20px;
    padding-left: 10px;
}

.lodge-img1 .lodge-price
{
    font-size: 16px;
}

.lodge-img1 .lodge-rate
{
    font-size: 14px;
}

.lodge-link
{
    width: 95px;
    font-weight: bold;
    margin: 4% 4%;
}

    /* Aside */

.lodge-box2 h2
{
    margin: 0;
    margin-left: 8%;
}

.fa-chart-line
{
    font-size: 27px;
    margin-left: 20%;
}

.lodge-container2
{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 80%;
    height: 82%;
    margin: 6.5% 0 0 8%;
}

.lodge-img2
{
    margin: 0;
    width: 320px;
    height: 130px;
    background-color: #FFFFFF;
    border-radius: 20px;
    border: 4px solid #FFFFFF;
    box-shadow: 4px 4px 4px #F2F2F2;
}

.lodge-img2 img
{
    width: 130px;
    height: 130px;
    border-radius: 20px 0 0 20px;
    object-fit: cover;
}

.lodge-img2 figcaption
{
    display: flex;
    flex-direction: column;
    height: 130px;
    width: 190px;
    border-radius: 0 20px 20px 0;
} 

.lodge-img2 .title
{
    width: 140px;
    margin: 10px 0 0 10px;
}

.lodge-img2 .lodge-price
{
    font-size: 16px;
    margin: 10px 0 0 10px;
}

.lodge-img2 .lodge-rate
{
    font-size: 14px;
    margin: 25px 0 0 10px;
}

/* Section */

#activities
{
    height: 500px;
    margin-top: 50px;
}

.act-box
{
    width: 100%;
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.act-box h2
{
    margin: 0;
}

.act-container
{
    width: 100%;
    height: 450px;
    justify-content: space-between;
}

.act-grp
{
    width: 310px;
    flex-direction: column;
    justify-content: space-between;
}

.act-container figure
{
    margin: 0;
    width: 310px;
    border-radius: 15px;
    box-shadow: 4px 4px 4px #F2F2F2;
}

.act-container figure img
{
    width: 310px;
    border-radius: 15px 15px 0 0;
    object-fit: cover;
}

.act-container figcaption
{
    height: 40px;
    border-radius: 0 0 15px 15px;
}

.act-container .title
{
    margin: 0;
    margin-top: 10px;
    margin-left: 10px;
}

.act-img1
{
    display: flex;
    flex-direction: column;
    height: 100%;
}

.act-img1 img
{
    height: 410px;
}

.act-img2
{
    display: flex;
    flex-direction: column;
    height: 255px;
}

.act-img2 img
{
    height: 215px;
}

.act-img3
{
    display: flex;
    flex-direction: column;
    height: 162px;
}

.act-img3 img
{
    height: 122px;
}

.act-img4
{
    display: flex;
    flex-direction: column;
    height: 172px;
}

.act-img4 img
{
    height: 132px;
}

.act-img5
{
    display: flex;
    flex-direction: column;
    height: 245px;
}

.act-img5 img
{
    height: 205px;
}

/* Footer */

footer
{
    width: 100%;
    height: 230px;
    background-color: #F2F2F2;
    margin-top: 50px;
}

.footer1, .footer2, .footer3
{
    margin-top: 25px;
}

.footer1 ul, .footer2 ul, .footer3 ul
{
    list-style: none;
    padding: 0;
}

.footer1 li, .footer2 li, .footer3 li
{
    margin-bottom: 10px;
}

.footer1
{
    margin-left: 50px;
}

.footer2
{
    margin-left: 200px;
}

.footer3
{
    margin-left: 290px;
}

/* Responsive Design */

    /* Responsive desktops */

@media screen and (max-width: 1280px)
{
    body
    {
        width: 100%;
        font-size: 17px;
    }

    .center
    {
        width: 90%;
        max-width: 90%;
    }

    .title
    {
        font-size: 17px;
    }

    /* Header */

    header
    {
        height: 400px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

        /* Banner */

    .banner
    {
        height: 32.5%;
        justify-content: space-between;
        align-items: center;
    }

    .logo
    {
        width: 120px;
    }

    .menu
    {
        margin-left: 50%;
        display: flex;
        flex-direction: row;
    }

    .menu-link
    {
        padding: 0 35px 0 35px;
    }

    .menu-link:hover
    {
        border-top: 4px solid #0065FC;
        padding-top: 55px;
        color: #0065FC;
    }

    .sign-in
    {
        font-weight: bold;
        color: #0065FC;
    }

        /* Explore */

    #explore
    {
        height: 65%;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
    }

    .explore-h1
    {
        height: 13%;
    }

    .explore-h1 h1
    {
        font-size: 22px;
        margin: 0;
    }

    .explore-p
    {
        height: 15%;
    }

    .explore-p p
    {
        margin: 0;
    }

        /* Search */

    .search
    {
        height: 20%;
    }

    .search form
    {
        display: flex;
        flex-direction: row;
        width: 100%;
    }

    .search-icon, .search-field, .search-button1
    {
        font-family: 'Raleway', Arial, Helvetica, sans-serif;
        font-size: 17px;
        font-weight: bold;
    }

    .search-icon
    {
        border: 1px solid #F2F2F2;
        width: 6%;
        border-radius: 15px 0 0 15px;
    }

    .search-field
    {
        border: 1px solid #F2F2F2;
        width: 23%;
        padding-left: 1%;
    }

    .search-button1
    {
        border: 1px solid #0065FC;
        width: 12%;
        color: #FFFFFF;
        background-color: #0065FC;
        border-radius: 0 15px 15px 0;
    }

        /* Filters */

    .filters
    {
        margin-top: 23px;
        height: 17.5%;
    }

    label, .filters-button
    {
        font-size: 18px;
        font-weight: bold;
    }

    .label
    {
        width: 4.5%;
        padding-top: 0.80%;
    }

    .filters-box
    {
        width: 100%;
    }

    .filters-box form
    {
        width: 100%;
        display: flex;
        flex-direction: row;
    }

    .button1, .button2, .button3, .button4
    {
        margin-left: 4%;
    }

    .filters-button
    {
        font-family: 'Raleway', Arial, Helvetica, sans-serif;
        height: 100%;
        background-color: #FFFFFF;
        border: 3px solid #F2F2F2;
        border-radius: 20px;
        padding: 0 15px 0 45px;
    }

    .filters-button:hover
    {
        color: #FFFFFF;
        background-color: #DEEBFF;
    }

    .filters .fas
    {
        color: #0065FC;
        background-color: #DEEBFF;
        font-size: 16px;
        padding: 14px 12px;
        border-radius: 20px;
        position: absolute;
    }

        /* Information */

    .information
    {
        margin-top: 20px;
        height: 15%;
        align-items: center;
    }

    .information .fas
    {
        font-size: 12px;
        color: #0065FC;
        border: 2px solid #F2F2F2;
        border-radius: 20px;
        padding: 6px 10px;
        margin-right: 15px;
    }

    /* Main */

    #lodging
    {
        height: 600px;
        justify-content: space-between;
        margin-top: 50px;
    }

    .lodge-box1
    {
        display: flex;
        flex-direction: column;
        width: 60%;
        padding-top: 4%;
    }

    .lodge-box2
    {
        display: flex;
        flex-direction: column;
        width: 35%;
        padding-top: 4%;
    }

        /* Section */

    .lodge-box1 h2
    {
        margin: 0;
        margin-left: 4%;
        font-size: 20px;
    }

    .lodge-container1
    {
        width: 92%;
        height: 80%;
        margin-left: 4%;
        margin-top: 3%;
        justify-content: space-between;
        align-content: space-between;
        flex-wrap: wrap;
    }

    .lodge-img1
    {
        display: flex;
        flex-direction: column;
        margin: 0;
        border: 4px solid #FFFFFF;
        width: 245px;
        height: 130px;
        border-radius: 20px;
        background-color: #FFFFFF;
        box-shadow: 4px 4px 4px #F2F2F2;
    }

    .lodge-img1 img
    {
        width: 245px;
        height: 70px;
        border-radius: 20px 20px 0 0;
        object-fit: cover;
    }

    .lodge-img1 figcaption
    {
        height: 60px;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        border-radius: 0 0 20px 20px;
        padding-left: 10px;
    }

    .lodge-img1 .lodge-price
    {
        font-size: 16px;
    }

    .lodge-img1 .lodge-rate
    {
        font-size: 14px;
    }

    .lodge-link
    {
        width: 100px;
        font-weight: bold;
        margin: 4% 4%;
    }

        /* Aside */

    .lodge-box2 h2
    {
        margin: 0;
        margin-left: 8%;
        font-size: 20px;
    }

    .fa-chart-line
    {
        font-size: 22px;
        margin-left: 20%;
    }

    .lodge-container2
    {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 85%;
        height: 82%;
        margin: 6.5% 0 0 8%;
    }

    .lodge-img2
    {
        margin: 0;
        width: 274px;
        height: 130px;
        background-color: #FFFFFF;
        border-radius: 20px;
        border: 4px solid #FFFFFF;
        box-shadow: 4px 4px 4px #F2F2F2;
    }

    .lodge-img2 img
    {
        width: 110px;
        height: 130px;
        border-radius: 20px 0 0 20px;
        object-fit: cover;
    }

    .lodge-img2 figcaption
    {
        display: flex;
        flex-direction: column;
        width: 164px;
        height: 130px;
        border-radius: 0 20px 20px 0;
    } 

    .lodge-img2 .title
    {
        width: 140px;
        margin: 10px 0 0 10px;
        font-size: 16px;
    }

    .lodge-img2 .lodge-price
    {
        font-size: 16px;
        margin: 10px 0 0 10px;
    }

    .lodge-img2 .lodge-rate
    {
        font-size: 14px;
        margin: 25px 0 0 10px;
    }

    /* Section */

    #activities
    {
        height: 500px;
        margin-top: 50px;
    }

    .act-box
    {
        width: 100%;
        height: 500px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .act-box h2
    {
        margin: 0;
    }

    .act-container
    {
        width: 100%;
        height: 450px;
        justify-content: space-between;
    }

    .act-grp
    {
        width: 215px;
        flex-direction: column;
        justify-content: space-between;
    }

    .act-container figure
    {
        margin: 0;
        width: 215px;
        border-radius: 15px;
        box-shadow: 4px 4px 4px #F2F2F2;
    }

    .act-container figure img
    {
        width: 215px;
        border-radius: 15px 15px 0 0;
        object-fit: cover;
    }

    .act-container figcaption
    {
        height: 40px;
        border-radius: 0 0 15px 15px;
    }

    .act-container .title
    {
        margin: 0;
        margin-top: 10px;
        margin-left: 10px;
        font-size: 15px;
    }

    .act-img1
    {
        display: flex;
        flex-direction: column;
        height: 100%;
    }

    .act-img1 img
    {
        height: 410px;
    }

    .act-img2
    {
        display: flex;
        flex-direction: column;
        height: 255px;
    }

    .act-img2 img
    {
        height: 215px;
    }

    .act-img3
    {
        display: flex;
        flex-direction: column;
        height: 162px;
    }

    .act-img3 img
    {
        height: 122px;
    }

    .act-img4
    {
        display: flex;
        flex-direction: column;
        height: 172px;
    }

    .act-img4 img
    {
        height: 132px;
    }

    .act-img5
    {
        display: flex;
        flex-direction: column;
        height: 245px;
    }

    .act-img5 img
    {
        height: 205px;
    }

    /* Footer */

    footer
    {
        width: 100%;
        height: 230px;
        background-color: #F2F2F2;
        margin-top: 50px;
    }

    .footer1, .footer2, .footer3
    {
        margin-top: 25px;
    }

    .footer1 ul, .footer2 ul, .footer3 ul
    {
        list-style: none;
        padding: 0;
    }

    .footer1 li, .footer2 li, .footer3 li
    {
        margin-bottom: 10px;
    }

    .footer1
    {
        margin-left: 50px;
    }

    .footer2
    {
        margin-left: 100px;
    }

    .footer3
    {
        margin-left: 150px;
    }
}    

    /* Responsive tablets */

@media screen and (max-width: 1024px)
{
    /* Tablet common */

    body
    {
        width: 100%;
        font-size: 17px;
    }

    .center
    {
        width: 90%;
        max-width: 90%;
    }

    .title
    {
        font-size: 17px;
    }

    /* Header */

    header
    {
        height: 450px;
        justify-content: space-between;
    }

        /* Banner */

    .banner
    {
        height: 25%;
    }

    .logo
    {
        width: 115px;
    }

    .menu
    {
        margin-left: 35%;
    }

    .menu-link:hover
    {
        padding-top: 52px;
    }

        /* Explore */

    #explore
    {
        height: 70%;
        justify-content: flex-start;
    }

    .explore-h1
    {
        height: 12.5%;
    }

    .explore-h1 h1
    {
        font-size: 20px;
    }

    .explore-p
    {
        height: 15%;
    }

        /* Search */

    .search
    {
        height: 22.5%;
    }

    .search-icon, .search-field, .search-button1
    {
        font-size: 18px;
    }

    .search-icon
    {
        width: 8%;
    }

    .search-field
    {
        width: 27.5%;
        padding-left: 2%;
    }

    .search-button1
    {
        width: 17.5%;
    }

        /* Filters */

    .filters
    {
        height: 22.5%;
        margin-top: 26px;
    }

    label, .filters-button
    {
        font-size: 18px;
    }

    .label
    {
        width: 7%;
        padding-top: 2.3%;
    }

    .filters-box
    {
        width: 85%;
    }

    .filters-box form
    {
        align-items: center;
    }

    .button1, .button2, .button3, .button4
    {
        height: 45px;
    }

    .filters-button
    {
        height: 45px;
        padding: 0 15px 0 47px;
    }

    .filters .fas
    {
        padding: 14px 13px;
    }

        /* Information */

    .information
    {
        margin-top: 26px;
        height: 15%;
    }

    /* Main */

    #lodging
    {
        height: 700px;
    }

    .lodge-box1
    {
        width: 47.5%;
    }

    .lodge-box2
    {
        width: 47.5%;
    }

        /* Section */

    .lodge-box1 h2
    {
        font-size: 21px;
        margin-left: 6%;
    }

    .lodge-container1
    {
        width: 92%;
        height: 87%;
        margin-top: 4%;
    }

    .lodge-img1
    {
        width: 172px;
        height: 170px;
    }

    .lodge-img1 img
    {
        width: 172px;
        height: 95px;
    }

    .lodge-img1 figcaption
    {
        height: 75px;
        padding-left: 8px;
    }

    .lodge-img1 .title
    {
        font-size: 15px;
    }

    .lodge-img1 .lodge-price
    {
        font-size: 15px;
    }

    .lodge-img1 .lodge-rate
    {
        font-size: 13px;
    }

    .lodge-link
    {
        width: 100px;
    }

        /* Aside */

    .lodge-box2 h2
    {
        font-size: 21px;
    }

    .fa-chart-line
    {
        font-size: 24px;
        margin-left: 30%;
    }

    .lodge-container2
    {
        width: 80%;
        height: 87%;
    }

    .lodge-img2
    {
        width: 335px;
        height: 150px;
    }

    .lodge-img2 img
    {
        width: 135px;
        height: 150px;
    }

    .lodge-img2 figcaption
    {
        width: 200px;
        height: 150px;
    } 

    .lodge-img2 .title
    {
        font-size: 15px;
    }

    .lodge-img2 .lodge-price
    {
        font-size: 15px;
    }

    .lodge-img2 .lodge-rate
    {
        font-size: 13px;
        margin: 55px 0 0 10px;
    }

    /* Section */

    #activities
    {
        height: 800px;
    }

    .act-box
    {
        height: 800px;
    }

    .act-box h2
    {
        font-size: 21px;
    }

    .act-container
    {
        height: 750px;
        align-content: space-between;
        flex-wrap: wrap;
    }

    .act-grp
    {
        width: 431px;
        height: 365px;
    }

    .act-container figure
    {
        width: 431px;
    }

    .act-container figure img
    {
        width: 431px;
    }

    .act-img1
    {
        height: 100%;
    }

    .act-img1 img
    {
        height: 325px;
    }

    .act-img2
    {
        height: 200px;
    }

    .act-img2 img
    {
        height: 160px;
    }

    .act-img3
    {
        height: 145px;
    }

    .act-img3 img
    {
        height: 105px;
    }

    .act-img4
    {
        height: 160px;
    }

    .act-img4 img
    {
        height: 120px;
    }

    .act-img5
    {
        height: 185px;
    }

    .act-img5 img
    {
        height: 145px;
    }

    /* Footer */

    footer
    {
        height: 300px;
    }

    .footer1
    {
        margin-left: 10%;
    }

    .footer2
    {
        margin-left: 10%;
    }

    .footer3
    {
        margin-left: 10%;
    }
}

    /* Responsive phones */

@media screen and (max-device-width: 430px)
{
    /* Phone common */

    body
    {
        width: 100%;
        font-size: 28px;
    }

    .center
    {
        width: 90%;
        max-width: 90%;
        margin: auto;
    }
    
    .title
    {
        font-size: 18px;
    }
    
    /* Header */

    header
    {
        height: 710px;
    }

        /* Banner */

    .banner
    {
        height: 25%;
        flex-wrap: wrap;
    }

    .logo
    {
        width: 160px;
    }

    .menu
    {
        display: flex;
        flex-direction: row;
        margin: 0;
        width: 100%;
        border-bottom: 3px solid #F2F2F2;
        padding-bottom: 10px;
        order: 2;
    }

    .sign
    {
        order: 1;
        margin-left: 50%;
    }

    .menu-link
    {
        width: 50%;
        text-align: center;
    }

    .menu-link:hover
    {
        border-bottom: 3px solid #0065FC;
        padding-bottom: 10px;
    }

        /* Explore */

    #explore
    {
        height: 70%;
        justify-content: flex-start;
    }

    .explore-h1
    {
        height: 10%;
    }

    .explore-h1 h1
    {
        font-size: 30px;
    }

    .explore-p
    {
        margin-top: 10px;
        height: 7%;
    }

        /* Search */

    .search
    {
        margin-top: 25px;
        height: 15%;
    }

    .search-icon, .search-field, .search-button1
    {
        font-size: 28px;
    }

    .search-icon
    {
        width: 10%;
    }

    .search-field
    {
        width: 82%;
        padding-left: 4%;
    }

    .search-button1
    {
        display: none;
    }

    .search-button2
    {   
        border: 1px solid #0065FC;
        width: 8%;
        color: #FFFFFF;
        background-color: #0065FC;
        border-radius: 15px;
        font-size: 28px;
        position: relative;
        right: 5px;
    }

        /* Filters */

    .filters
    {
        margin-top: 25px;
        flex-direction: column;
        justify-content: flex-start;
        height: 60%;
    }

    label, .filters-button
    {
        font-size: 24px;
    }

    .label
    {
        padding: 0;
        height: 5%;
        width: 100%;
    }

    .filters-box
    {
        height: 95%;
        width: 100%;
    }

    .filters-box form
    {
        flex-wrap: wrap;
    }

    .button1, .button2, .button3, .button4
    {
        height: 25%;
        width: 35%;
        margin: 0;
    }

    .button2
    {
        margin-left: 2%;
    }

    .filters-button
    {
        margin-left: 13px;
    }

    .filters .fas
    {
        font-size: 17px;
        padding: 14px 12px;
    }

        /* Information */

    .information
    {
        height: 8%;
    }

    .information p
    {
        font-size: 28px;
    }

    .information .fas
    {
        font-size: 18px;
        padding: 5px 10px;
        margin-left: 7px;
        margin-bottom: 8px;
    }

    /* Main */

    #lodging
    {
        height: 1970px;
        flex-direction: column;
        justify-content: space-between;
    }

    .lodge-box2
    {
        background-color: #F2F2F2;
    }

    .lodge-box1
    {
        width: 100%;
        height: 1410px;
        order: 2;
    }

    .lodge-box2
    {
        width: 100%;
        height: 510px;
        order: 1;
    }

        /* Section */

    .lodge-box1 h2
    {
        font-size: 28px;
    }

    .lodge-container1
    {
        width: 92%;
        height: 95%;
        flex-direction: column;
    }

    .lodge-img1
    {
        width: 813px;
        height: 180px;
    }

    .lodge-img1 img
    {
        width: 813px;
        height: 120px;
    }

    .lodge-img1 figcaption
    {
        height: 60px;
        padding-left: 20px;
    }

    .lodge-img1 .title
    {
        font-size: 18px;
    }

    .lodge-img1 .lodge-price
    {
        font-size: 18px;
    }

    .lodge-img1 .lodge-rate
    {
        font-size: 16px;
    }

    .lodge-link
    {
        width: 200px;
    }

        /* Aside */

    .lodge-box2 h2
    {
        font-size: 28px;
        margin-top: 1%;
    }

    .fa-chart-line
    {
        font-size: 28px;
        margin-left: 50%;
        margin-top: 1.5%;
    }

    .lodge-container2
    {
        justify-content: space-around;
        width: 80%;
        max-width: 80%;
        height: 88%;
        margin: auto;
    }

    .lodge-img2
    {
        width: 705px;
        height: 120px;
    }

    .lodge-img2 img
    {
        width: 155px;
        height: 120px;
    }

    .lodge-img2 figcaption
    {
        width: 550px;
        height: 120px;
    } 

    .lodge-img2 .title
    {
        font-size: 18px;
    }

    .lodge-img1 .lodge-price
    {
        font-size: 18px;
    }

    .lodge-img2 .lodge-rate
    {
        font-size: 16px;
        margin: 15px 0 0 10px;
    }

    /* Section */

    #activities
    {
        height: 1210px;
    }

    .act-box h2
    {
        font-size: 28px;
    }

    .act-box
    {
        height: 1210px;
    }

    .act-container
    {
        height: 1155px;
        flex-direction: column;
    }

    .act-grp
    {
        width: 882px;
        height: 367px;
    }

    .act-container figure
    {
        width: 882px;
        height: 170px;
    }

    .act-container figure img
    {
        width: 882px;
        height: 135px;
    }

    .act-container figcaption
    {
        height: 35px;
    }

    .act-container .title
    {
        margin-top: 5px;
        margin-left: 15px;
        font-size: 24px;
    }

    /* Footer */

    footer
    {
        height: 510px;
        flex-direction: column;
        justify-content: space-between;
    }

    footer .title
    {
        font-size: 22px;
    }

    footer a
    {
        font-size: 22px;
    }

    .footer1, .footer2, .footer3
    {
        height: 150px;
        margin: 0;
        padding-left: 15px;
        margin-left: 320px;
    }

}