/* Définition des polices personnalisées */

@font-face 
{
    font-family: 'Raleway';
    src: url('polices/Raleway-Italic-VariableFont_wght.ttf');
    src: url('polices/Raleway-VariableFont_wght.ttf');
    font-weight: bold;
    font-style: normal;
}

body
{
    font-family: 'Raleway', Arial, sans-serif;
    color: #181818;
}
#bloc_page
{
    width: 100%;
    margin: auto;
}

header
{
    margin: 2em 2em;
}

#title
{

    display: flex;
    flex-direction: row;
}

#logo
{
    flex: 75%;
}

#logo img
{
    width: 6em;
    height: 3em;
    padding-top: 0.8em;
}

#menu
{
    flex: 25%;
    padding-top: 1.1em;
}

#hebergements
{
    order: 1;
}
#activites
{
    order: 2;
}

#inscription
{
    order: 3;
}

nav ul
{
    list-style-type: none;
    display: flex;
}

nav li
{
    margin-left: 5.5em;
}

nav a
{
    font-size: 1.1em;
    color: #0065FC;
    text-decoration: none;
}

nav a:hover
{
    color: #DEEBFF;
    border-top: 2px solid #0065FC;
}

header h1
{
    font-size: 1.4em;
    font-weight: normal;
}

header h2
{
    font-size: 0.99em;
    font-weight: normal;
}

#form
{

    display: flex;
    flex-direction: row;
    margin-top: 1.4em;

}

#map-marker
{
    background-color: #F2F2F2;
    width: 3.2em;
    height: 2.95em;
    border-color: #F2F2F2;
    border-radius: 12px 0 0 12px;
}

#map-marker img
{
    padding: 28% 25% 25% 30%;
    width: 37%;
    height: 37%;
}

#text
{
    font-family: 'Raleway', Arial, sans-serif;
    color: #181818;
    width: 18em;
    height: 3.5em;
    border-top: 1px #F2F2F2 solid;
    border-right: 1px #F2F2F2 solid;
    border-bottom: 1px #F2F2F2 solid;
    border-left: 1px #F2F2F2 solid;
}

#butt
{
    width: 9.9em;
    height: 3.5em;
    font-family: 'Raleway', Arial, sans-serif;
    color: #FFFFFF;
    background-color: #0065FC;
    border-top: 1px #0065FC solid;
    border-right: 1px #0065FC solid;
    border-bottom: 1px #0065FC solid;
    border-left: 1px #0065FC solid;
    border-radius: 0 12px 12px 0;
}

